<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.archy.cash.dao.interfaces.NetbarMemberTypeMapper" >
  <resultMap id="BaseResultMap" type="com.archy.cash.entity.NetbarMemberType" >
    <id column="memberTypePlanID" property="membertypeplanid" jdbcType="INTEGER" />
    <id column="memberTypeID" property="membertypeid" jdbcType="INTEGER" />
    <result column="parasTypeName" property="parastypename" jdbcType="VARCHAR" />
    <result column="dataVersion" property="dataversion" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="theOrder" property="theorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    memberTypePlanID, memberTypeID, parasTypeName, dataVersion, gid, theOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from netbar_membertype
    where memberTypePlanID = #{membertypeplanid,jdbcType=INTEGER}
      and memberTypeID = #{membertypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from netbar_membertype
    where memberTypePlanID = #{membertypeplanid,jdbcType=INTEGER}
      and memberTypeID = #{membertypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.archy.cash.entity.NetbarMemberType" >
    insert into netbar_membertype (memberTypePlanID, memberTypeID, parasTypeName, 
      dataVersion, gid, theOrder
      )
    values (#{membertypeplanid,jdbcType=INTEGER}, #{membertypeid,jdbcType=INTEGER}, #{parastypename,jdbcType=VARCHAR}, 
      #{dataversion,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{theorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.archy.cash.entity.NetbarMemberType" >
    insert into netbar_membertype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="membertypeplanid != null" >
        memberTypePlanID,
      </if>
      <if test="membertypeid != null" >
        memberTypeID,
      </if>
      <if test="parastypename != null" >
        parasTypeName,
      </if>
      <if test="dataversion != null" >
        dataVersion,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="theorder != null" >
        theOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="membertypeplanid != null" >
        #{membertypeplanid,jdbcType=INTEGER},
      </if>
      <if test="membertypeid != null" >
        #{membertypeid,jdbcType=INTEGER},
      </if>
      <if test="parastypename != null" >
        #{parastypename,jdbcType=VARCHAR},
      </if>
      <if test="dataversion != null" >
        #{dataversion,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="theorder != null" >
        #{theorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.archy.cash.entity.NetbarMemberType" >
    update netbar_membertype
    <set >
      <if test="parastypename != null" >
        parasTypeName = #{parastypename,jdbcType=VARCHAR},
      </if>
      <if test="dataversion != null" >
        dataVersion = #{dataversion,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="theorder != null" >
        theOrder = #{theorder,jdbcType=INTEGER},
      </if>
    </set>
    where memberTypePlanID = #{membertypeplanid,jdbcType=INTEGER}
      and memberTypeID = #{membertypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.archy.cash.entity.NetbarMemberType" >
    update netbar_membertype
    set parasTypeName = #{parastypename,jdbcType=VARCHAR},
      dataVersion = #{dataversion,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      theOrder = #{theorder,jdbcType=INTEGER}
    where memberTypePlanID = #{membertypeplanid,jdbcType=INTEGER}
      and memberTypeID = #{membertypeid,jdbcType=INTEGER}
  </update>
</mapper>